body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Quitar margenes */
    padding: 0;
    background-color: #d0d7ff;
}

/* Header */
.nav-menu{
    background-color: #333;
    overflow: hidden;
}

.nav-item{
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

#foto-principal {
    width: 100%;
} 

#titulo {
    position: absolute;
    left: calc(50% - 200px);
    top: 91px;
    font-size: 36px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 40px;
    border-radius: 15px;
}

#descripcion {
    margin: 20px;
}

h1, h2 {
    color: #09c;
}

#logo {
    width: 38px;
    position: absolute;
    top: 4px;
}

/* SKILLS */
.skill {
    display: inline-block; /* Sirve para que queden en linea */
    width: 30%;
    margin-left: 10px;
}
.barra, .barra-frontal {
    width: 100% ;
    min-height: 12px;
    background: gray;
    display: block;
    border-radius: 5px;
}

.barra-frontal {
    background: #09c;
    margin-top: -12px;
    width: 100px;
}

.skill.html .barra-frontal {
    width: 75%;
}
.skill.css .barra-frontal {
    width: 80%;
}
.skill.javascript .barra-frontal {
    width: 25%;
}
.skill.python .barra-frontal {
    width: 90%;
}
.skill.logic .barra-frontal {
    width: 95%;
}
.skill.java .barra-frontal {
    width: 85%;
}

/* MENU */
#menu {
	background: #0099CC;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
    margin-left: 50px;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
    transition: all 800ms ease-out;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


/* CONTACTO */
#contacto {
    margin: 20px;
}

#contacto label {
    width: 130px;
    display: inline-block;
}

#contacto textarea {
    width: 100%;
    height: 163px;
}

.dato-contacto {
    display:inline-block;
    width: 45%;
}

.social {
    margin-left: 40%;
}
.social img {
    width: 30px;
}

@media screen and (max-width: 800px){
    #titulo {
        left: calc(50% - 125px);
        top: 208px;
        font-size:18px;
    }

    input {
        width:130px;
    }

    
    #logo {
        left: 50px;
    }
    .social {
        margin-left: 0;
    }
}